h1{
    margin-left: 400px;
}
p{
    margin-left: 290px;
}
#linha{
    width: 1000px;
    border: 1px solid;
}
h3{
    margin-left: 300px;
}
p2{
    margin-left: 200px;
}
butu
h4{
    margin-left: 400px;
}
img{
    width: 900px;
}