.titulo {
    text-align: center;
}

.content{
    text-align: center;
}
.botao{
    color: #ffffff;
    background-color: black;
    border-radius: 15px;
    border: none;
}
.img {
    text-align: center;
    
}
.bum {
    text-align: center;
}
.butaos{
    text-align: center;
}
.text{
    text-align: center;
}
.but{
    color: #ffffff;
    background-color: black;
    border-radius: 15px;
    border: none;
}
.buts{
    color: #ffffff;
    background-color: #2ab1e6;
    border-radius: 15px;
    border:none;
}
.ll{
    color: #ffffff;
    background-color: #2ab1e6;
    border-radius: 15px;
    border:none;
}
.tt{
    color: #ffffff;
    background-color: #2ab1e6;
    border-radius: 15px;
    border:none;
}
.kk{
    color: #ffffff;
    background-color: #2ab1e6;
    border-radius: 15px;
    border:none;
}
.kt{
    color: #ffffff;
    background-color: #2ab1e6;
    border-radius: 15px;
    border:none;
}
.js{
    color: #ffffff;
    background-color: #000000;
    border-radius: 15px;
    border:none;
}

